{{!
{
	"title": "The Killers",
	"name": "The Killers",

"resources": {
    "facebook": {
        "url": "http://proxy.storyteller.io/facebook/35718435694/albums",
        "headers": {
            "Api-Key": "5f60a553-674e-4d92-8623-7ec6bf4e2518",
            "Project": "sparkart_site"
        }
    }
}
}
}}

        <script>{{{context}}}</script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>
<script>
    $(document).ready( function() {
        var ul = document.getElementById('albums');
        for (var i=0, l=solidus.context.resources.facebook.data.length; i<l; i++) {
            
                      var album = solidus.context.resources.facebook.data[i];
                        if (album.name == "Profile Pictures" && album.id != "487382395694") {
                            return true;
                        }
                        else {
                        var li = document.createElement('li'), 
                        regex = /\d{4}-\d{2}-\d{2}/;
                        ct = album.created_time, 
                        ct = ct.match(regex), 
                        dateAdded = ct.toString().split('-').reverse().join('/');
                        a = document.createElement('a');
                        a.setAttribute('title',album.name);
                        a.href = '/album/' + album.id;
                        if(album.name == "Cover Photos")
                        {
                          a.setAttribute('class','cover')
                        }
                      a.innerHTML = '<div id="albumbox"><img src="http://graph.facebook.com/' + album.cover_photo + '/picture" border="0" alt="' + album.name + '(' + dateAdded + ')" /></div><div class="albumname">' + album.name + '(' + dateAdded + ')</div>';
                      li.appendChild(a);
                      ul.appendChild(li);
                  }
                    }

    });
</script>
    <ul id="albums"></ul>